watermark_detection/models/classification_models/*.pth filter=lfs diff=lfs merge=lfs -text
watermark_detection/models/object_detection_models/*.pth filter=lfs diff=lfs merge=lfs -text
watermark_detection_env/lib/python3.11/site-packages/torch/lib/*.dylib filter=lfs diff=lfs merge=lfs -text
